*{
    box-sizing: border-box;
}

body{
    font-size: .4rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom,#303234,#545557, #303234);
    color: white;
    font-weight: 600;
}
.container{
    display:flex;
    flex-direction: column;
    max-width:480px;
    text-shadow: 0 1px 3px black;
    letter-spacing: 1px;
    height: 95vh;
}

