/* ---- Main ---- */

main{
    height: 80%;
    margin: 0;
}

.array-elements{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 1em 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.generated-elements{
    background-image: linear-gradient(to right,#00BFFF,#9400D3);
    border-radius: 50px;
}

.generated-elements p{
    position:absolute;
    vertical-align: middle;
    text-align: start;
    margin-left: 5px;
}