@import url("./toggle_switch.css");

header{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 15%;
    }
    
    header ul{
        display:flex;
        font-size: .65rem;
        justify-content: space-between;
        border-bottom: 1px solid lightgrey;
        padding: 0 0 .2em 0;
    }
    
    header ul li {
        list-style: none;
    }
    
    header ul li a{
        text-decoration: none;
        color: inherit;
    }
    
    .current{
        -webkit-text-stroke: .6px white;
        color:white;
    }
    
    a:hover,
    a:focus{
        animation: opacity-change 1s;
        animation-fill-mode: forwards;
    }
    
    .controlling{
        display:flex;
        justify-content: space-around;
        padding-bottom: 1em;
    }

    .slidecontainer{
        display: flex;
        width: 35%;
        justify-content: flex-start ;
        align-items: center;
        margin-right: .5em;
    }

    #speed-slider{
        direction: rtl;
        background:#4682B4;
    }

    #value,
    #speed{
        margin-left: .5em;
    }

    .slidecontainer label {
        font-size:.75rem;
    }

     .header-btns{
        width:55%;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: space-around;
    } 

    .header-btn{
        font-size:.75rem;
        padding: .3em .5em;
        background-image: linear-gradient(to bottom right,#4682B4,#7DF9FF,#4682B4);
        border:none;
        border-radius:50px;
        font-weight: 700;
        text-shadow: 0 0 1px black;
        letter-spacing: 1.5px;
        cursor: pointer;
    }

    .header-btns img{
        width:10%;
        cursor:pointer;

    }

    .header-btn:hover,
    .header-btn:focus,
    .header-btns img:hover,
    .header-btns img:focus{
        opacity: .6;
        transform:scale(1.005)
    }

    #sort-btn{
        margin-left: 1.7em;
    }


    @keyframes opacity-change {
        from{
            border-bottom: 2px solid rgba(255, 255, 255, 0%);
        }
        to{
            border-bottom: 2px solid rgba(255,255,255,100%);
        }
    }