/* ---- Nav bar ---- */

@import url("./toggle_switch.css");

header{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 15%;
    }
    
    header ul{
        display:flex;
        font-size: .65rem;
        justify-content: space-evenly;
        padding: 0;
    }
    
    header ul li {
        list-style: none;
    }
    
    header ul li a{
        text-decoration: none;
        color: inherit;
    }
    
    .current{
        -webkit-text-stroke: .6px white;
        color:white;
    }
    
    a:hover,
    a:focus{
        animation: opacity-change 1s;
        animation-fill-mode: forwards;
    }
    
    .controlling{
        display:flex;
        justify-content: space-between;
    }

    .slidecontainer{
        display: flex;
        width: 40%;
        justify-content: flex-start ;
        align-items: center;
    }

    /* .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50px;
        background: white;
        cursor: pointer;
      } */

    #value,
    #speed{
        margin-left: .5em;
    }

    /* .slider {
        -webkit-appearance: none; 
        appearance: none; 
        outline: none;
        border-radius: 50px;
        width:80%;
        height:60%;
        background-image: linear-gradient(to bottom right,#4682B4,#7DF9FF,#4682B4);
    } */
    .slidecontainer label {
        font-size:1rem;
    }

     .header-btns{
        width: 55%;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
    } 

    .header-btn{
        font-size:1rem;
        padding: .3em 1em;
        background-image: linear-gradient(to bottom right,#4682B4,#7DF9FF,#4682B4);
        border:none;
        border-radius:50px;
        font-weight: 700;
        text-shadow: 0 0 1px black;
        letter-spacing: 1.5px;
        cursor: pointer;
    }

    .header-btns img{
        width:15%;
        cursor:pointer;

    }

    .header-btn:hover,
    .header-btn:focus,
    .header-btns img:hover,
    .header-btns img:focus{
        opacity: .6;
        transform:scale(1.005)
    }

    #generate-btn{
        margin-right: .75em;
    }


    @keyframes opacity-change {
        from{
            border-bottom: 2px solid rgba(255, 255, 255, 0%);
        }
        to{
            border-bottom: 2px solid rgba(255,255,255,100%);
        }
    }